<div id="wrapper">
  <div id="content" class="group">
    <div id="info">
      <h1>Making tax lookup simple.</h1>
      <p>Automatically find new title ad valorem tax for any vehicle.</p>
      <input type="text" id="search" placeholder="Enter a VIN to see an example">
      <a href="#" class="button" id="search-button">Search</a>
      <a href="#" class="button" id="sign-up-button">Sign Up</a>
    </div>
    <div id="product">
      <div id="mac"></div>
    </div>
  </div>
</div>
<div id="features-wrapper" class="group">
  <div id="features" class="group">
    <div class="feature"></div>
    <div class="feature"></div>
    <div class="feature"></div>
  </div>
</div>
